</style>
<html>
<head>
<title>Contribute</title>
</head>
<body>
<div class="col-sm-offset-1 col-sm-10">
<h3>Please contribute privacy incidents to our database!</h3>
<p><strong>The Privacy community often speculates about the rate of privacy incidents and which companies are involved in the most privacy incidents. We don't know the answers to those questions because we don't have a database of incidents to analyze.<strong><br>
<br>
We're building the Information Privacy Incident Database to answer those questions and more.<br> Here is an example database entry:
<br>
Description: NHS-accredited health apps found to be sending unencrypted personal information.<br>
Link: http://www.theguardian.com/society/2015/sep/25/nhs-accredited-health-apps-putting-users-privacy-at-risk-study-finds<br>
Tags: #9/2015, #UK, #WHSmith, #accident, #Pii-leak, #Citizens<br>
Contributor: Jessica Staddon<br>
Contributor Email: example@google.com<br>
<br>
The vision for the database is a crowd-sourced, collaborative environment like Wikipedia, but since we're starting from scratch, it's now a curated database with contributions by invitation.<br>
We need your help! If you see or hear of a publicly known privacy incident, please enter what you know about it here. <br>
<br>
Thanks very much for your help!<br>
Jessica Staddon, Linda Vue, Yuxu Yang.</p>
<br>
</div>
<form id ="SendForm" class="form-horizontal" role="form" method="post" action="actions.php">
    <div class="form-group">
        <label for="" class="col-xs-3 control-label">Description</label>
        <div class="col-xs-5">
            <textarea class="form-control input-sm" required="" rows="3" id="description" name="description" placeholder="Please provide a 1-2 sentence description of the privacy incident." value=""></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="PublicLink" class="col-xs-3 control-label">Public Link</label>
        <div class="col-xs-5">
            <input type="url" class="form-control input-sm" required="" name="PublicLink" placeholder="example: http://google.com">
        </div>
    </div>
    <div class="form-group">
        <label for="Date_Incident_First_Known" class="col-xs-3 control-label">Date Incident First Known</label>
        <div class="col-sm-5">
            <input type="month" class="form-control input-sm" required="" id="Occurred_Date" name="Occurred_Date" placeholder="2015-10-22" value="">
        </div>
    </div>
    <div class ="form-group">
    	<label for="which_company[]" class="col-xs-3 control-label" > Which Company has involved :</label>
    	<div class="col-xs-offset-3 col-xs-10">
    	<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Alibaba">
    		Alibaba
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Amazon">
    		Amazon
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Asos">
    		Asos
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Baidu">
    		Baidu
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Ebay">
    		Ebay
  			</label>
		</div>
		</div>
		<div class="col-xs-offset-3 col-xs-10">
		<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Expedia">
    		Expedia
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Facebook">
    		Facebook
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Google">
    		Google
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="GooglePlay">
    		GooglePlay
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Groupon">
    		Groupon
  			</label>
		</div>
		</div>
		<div class="col-xs-offset-3 col-xs-10">
		<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "which_company[]" value="HealthcareCompany">
    		HealthcareCompany
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Hospital">
    		Hospital
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="InternetCompany">
    		InternetCompany
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="JD.com">
    		Jd.com
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Linkedin">
    		Linkedin
  			</label>
		</div>
		</div>
		<div class="col-xs-offset-3 col-xs-10">
		<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Netease">
    		Netease
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Expedia">
    		Netflix
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="PhoneCompany">
    		PhoneCompany
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Priceline">
    		Priceline
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Rakuten">
    		Rakuten
  			</label>
		</div>
		</div>
		<div class="col-xs-offset-3 col-xs-10">
		<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Salesforce">
    		Salesforce
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Tandex">
    		Tandex
  			</label>
  			<label>			
    		<input type="checkbox" name= "which_company[]" value="Tripadvisor">
    		Tripadvisor
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Twitter">
    		Twitter
  			</label>
  			<label>
    		<input type="checkbox" name= "which_company[]" value="Yahoo">
    		Yahoo
  			</label>
		</div>	
		</div>
    <div class="col-xs-offset-3 col-xs-10">
    <div class="checkbox">
        <div class="col-sm-7">
        <laber>
        <input type="checkbox" name= "which_company_checkbox">
        other:
        </laber>
        <label>
        <input type="text" class="form-control input-sm" name = "which_company_custom">
        </label>
        </div>
    </div>  
    </div>
	</div>
	<div class ="form-group">
    	<label for="which_role[]" class="col-xs-3 control-label"> Who was impact by the incident :</label>
    	<div class ="col-xs-offset-3 col-xs-10">
    	<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "which_role[]" value="Adolescent"> Adolescent
  			</label>
  			<label>
    		<input type="checkbox" name= "which_role[]" value="Businessperson">
    		Businessperson
  			</label>
  			<label>
    		<input type="checkbox" name= "which_role[]" value="Celebrity">
    		Celebrity
  			</label>
  			<label>
    		<input type="checkbox" name= "which_role[]" value="EndUser(s)">
    		EndUser(s)
  			</label>
  			<label>
    		<input type="checkbox" name= "which_role[]" value="HealthCareProfessional">
    		HealthCareProfessional
  			</label>
  			<label>
        	<input type="checkbox" name= "which_role[]" value="Politician">
       		 Politician
        	</label>
        </div>
        </div>
        <div class="col-xs-offset-3 col-xs-10">
        <div class="checkbox">
           <div class="col-sm-7">
            <laber>
             <input type="checkbox" name= "which_role_checkbox">
              other:
           </laber>
            <label>
            <input type="text" class="form-control input-sm" name = "which_role_custom">
            </label>
            </div>
        </div>  
        </div>
 	</div>
 	<div class ="form-group">
    	<label for="what_kind[]" class="col-xs-3 control-label" > Which of these terms describe the incident :</label>
    	<div class="col-xs-offset-3 col-xs-10">
    	<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="Ads">Ads
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="ContactAccess">ContactAccess
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="Cookies">Cookies
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="CyberBullying">
    		CyberBullying
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="CyberStalking">
    		CyberStalking
  			</label>
		</div>
		</div>
		<div class="col-xs-offset-3 col-xs-10">
		<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="DataAggregation">
    		DataAggregation
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="DataCollection">
    		DataCollection
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="DataSharing">
    		DataSharing
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="DataUsage">
    		DataUsage
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="Defamation">
    		Defamation
  			</label>
		</div>
		</div>
		<div class="col-xs-offset-3 col-xs-10">
		<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="DocumentAccess">
    		DocumentAccess
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="Drone">
    		Drone
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="EmailAccess">
    		EmailAccess
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="LocationSharing">
    		LocationSharing
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="OverSharing">
    		OverSharing
  			</label>
		</div>
		</div>
		<div class="col-xs-offset-3 col-xs-10">
		<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="PersonalInfoLeak">
    		PersonalInfoLeak
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="PhotoAccess">
    		PhotoAccess
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="PrivacyPolicy">
    		PrivacyPolicy
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="RemovedPrivacyToolOrFeature">
    		RemovedPrivacyToolOrFeature
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="RevengePorn">
    		RevengePorn
  			</label>
		</div>
		</div>
		<div class="col-xs-offset-3 col-xs-10">
		<div class="checkbox">
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="RightToBeForgotten">
    		RightToBeForgotten
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="Surveillance">
    		Surveillance
  			</label>
  			<label>			
    		<input type="checkbox" name= "what_kind[]" value="TextAccess">
    		TextAccess
  			</label>
  			<label>
    		<input type="checkbox" name= "what_kind[]" value="VideoAccess">
    		VideoAccess
  			</label>
		</div>	
		</div>
    <div class="col-xs-offset-3 col-xs-10">
        <div class="checkbox">
           <div class="col-sm-7">
            <laber>
             <input type="checkbox" name= "what_kind_checkbox">
              other:
           </laber>
            <label>
            <input type="text" class="form-control input-sm" name = "what_kind_custom">
            </label>
            </div>
        </div>  
    </div>
	</div>
	  <div class ="form-group">
      <label for="incident_root_cause[]" class="col-xs-3 control-label"> How did the incident happen : </label>
      <div class ="col-xs-offset-3 col-xs-10">
      <div class="checkbox">
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="3rdPartyApps"> 3rdPartyApps
        </label>
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="Accident">
        Accident
        </label>
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="Attack">
        Attack
        </label>
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="Bug">
        Bug
        </label>
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="InsiderAttack">
        InsiderAttack
        </label>
        <label>
          <input type="checkbox" name= "incident_root_cause[]" value="LawEnforcement">
          LawEnforcement
          </label>
        </div>
        </div>
      <div class ="col-xs-offset-3 col-xs-10">
      <div class="checkbox">
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="Legal">Legal
        </label>
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="Malware">
        Malware
        </label>
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="Misunderstanding">
        Misunderstanding
        </label>
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="SecurityVulnerability">
        SecurityVulnerability
        </label>
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="SocialMedia">
        SocialMedia
        </label>
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="StolenDevice">
        StolenDevice
        </label>
      </div>
      </div>
      <div class ="col-xs-offset-3 col-xs-10">
      <div class="checkbox">
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="UnexpectedProductBehavior">UnexpectedProductBehavior
        </label>
        <label>
        <input type="checkbox" name= "incident_root_cause[]" value="UnclearConsent">
        UnclearConsent
        </label>
      </div>
      </div>
      <div class="col-xs-offset-3 col-xs-10">
        <div class="checkbox">
           <div class="col-sm-7">
            <laber>
             <input type="checkbox" name= "incident_root_cause_checkbox">
              other:
           </laber>
            <label>
            <input type="text" class="form-control input-sm" name = "incident_root_cause_custom">
            </label>
            </div>
        </div>  
    </div>
  </div>
  <div class ="form-group">
      <label for="where_Location[]" class="col-xs-3 control-label" > Where are most of the people affected by the incident located :</label>
      <div class="col-xs-offset-3 col-xs-10">
      <div class="checkbox">
        <label>
        <input type="checkbox" name= "where_Location[]" value="Algeria">
        Algeria
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Argentina">
        Argentina
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Bangladesh">
        Bangladesh
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Brazil">
        Brazil
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Canada">
        Canada
        </label>
    </div>
    </div>
    <div class="col-xs-offset-3 col-xs-10">
    <div class="checkbox">
        <label>
        <input type="checkbox" name= "where_Location[]" value="China">
        China
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Colombia">
        Colombia
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Congo">
        Congo
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Egypt">
        Egypt
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Ethiopia">
        Ethiopia
        </label>
    </div>
    </div>
    <div class="col-xs-offset-3 col-xs-10">
    <div class="checkbox">
        <label>
        <input type="checkbox" name= "where_Location[]" value="France">
        France
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Germany">
        Germany
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="India">
        India
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Indoesia">
        Indoesia
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Iran">
        Iran
        </label>
    </div>
    </div>
    <div class="col-xs-offset-3 col-xs-10">
    <div class="checkbox">
        <label>
        <input type="checkbox" name= "where_Location[]" value="Iraq">
        Iraq
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Italy">
        Italy
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Japan">
        Japan
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Kenya">
        Kenya
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Mexico">
        Mexico
        </label>
    </div>
    </div>
    <div class="col-xs-offset-3 col-xs-10">
    <div class="checkbox">
        <label>
        <input type="checkbox" name= "where_Location[]" value="Morocco">
        Morocco
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Myanmar">
        Myanmar
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Nigeria">
        Nigeria
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Pakistan">
        Pakistan
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Philippines">
        Philippines
        </label>
    </div>
    </div>
    <div class="col-xs-offset-3 col-xs-10">
    <div class="checkbox">
        <label>
        <input type="checkbox" name= "where_Location[]" value="Poland">
        Poland
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Russia">
        Russia
        </label>
        <label>     
        <input type="checkbox" name= "where_Location[]" value="Saudiarabia">
        Saudiarabia
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="SouthAfrica">
        SouthAfrica
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="SouthKorea">
        SouthKorea
        </label>
    </div>
    </div>
    <div class="col-xs-offset-3 col-xs-10">
    <div class="checkbox">
        <label>
        <input type="checkbox" name= "where_Location[]" value="Spain">
        Spain
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Sudan">
        Sudan
        </label>
        <label>     
        <input type="checkbox" name= "where_Location[]" value="Tanzania">
        Tanzania
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Thailand">
        Thailand
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Turkey">
        Turkey
        </label>
    </div>
    </div>
    <div class="col-xs-offset-3 col-xs-10">
    <div class="checkbox">
        <label>
        <input type="checkbox" name= "where_Location[]" value="Uganda">
        Uganda
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="UK">
        UK
        </label>
        <label>     
        <input type="checkbox" name= "where_Location[]" value="Ukraine">
        Ukraine
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="USA">
        USA
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="Vietnam">
        Vietnam
        </label>
        <label>
        <input type="checkbox" name= "where_Location[]" value="World">
        World
        </label>
    </div>  
    </div>
    <div class="col-xs-offset-3 col-xs-10">
    <div class="checkbox">
        <div class="col-sm-7">
        <laber>
        <input type="checkbox" id="where_Location_checkbox" id = "location_checkbox" name= "where_Location_checkbox">
        other:
        </laber>
        <label>
        <input type="text" class="form-control input-sm"  id = "location_custom" name = "where_Location_custom">
        </label>
        </div>
    </div>  
    </div>
  </div>
	<div class="form-group">
        <label for="Contributor Name" class="col-xs-3 control-label">Contributor Name</label>
        <div class="col-sm-7">
            <input type="text" class="form-control input-sm" id="Contributor_Name" name="Contributor_Name" placeholder="FirstName LastName" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="Contributor Email" class="col-xs-3 control-label">Contributor Email</label>
        <div class="col-sm-7">
            <input type="email" class="form-control input-sm" id="Contributor_Email" name="Contributor_Email" placeholder="google@gmail.com" value="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-10">
        <label for="include_contributor" class="col-xs-3">
        <input type="checkbox" name= "include_contributor">
        Thank you for your contribution! Can we include you as a collaborator on our site when we add your incident?</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-10">
        <label for="another_contribution" class="col-xs-3">
        <input type="checkbox" name= "another_contribution">
        Thank you for your contribution! Do you want to contribute another privacy incident?</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 control-label">
         <label class="col-xs-3 control-label">
            <button type="submit" class="btn btn-primary"> Send Form</button> 
         </label>
        </div>
    </div>
</form>
<script>
            $('#location_custom').keyup(function(){
              if(this.value!=""){
                $('#location_checkbox').prop("checked","checked");
              } else{
                $('#location_checkbox').prop("checked","");
              }
            });
</script>
</body>
</html>