/**
	about.php css 
*/

#team {
	margin-top: 25px;	
	overflow: hidden;
	text-align: center;
}

#team-info {
	margin-bottom: 50px;
}

.bio {
	float: left;
	margin-right: 15%;
}

.circle {
	width: 200px;
	height: 200px;
	background: grey;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

h4 {
	text-align: center;
}


header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    /*background-position: center;*/
    background-color: grey;
    background-size: cover;
    opacity: .7;
}

.carousel-caption {
	color: #050505;
}

/**
	index.php css
*/

#about {
	margin-top: 25px;
}

.bold-text {
	font-weight: bold;
}

/** 
	incidents.php
*/

#incidents-title {
	margin-left: 19px;
}

.incident-content {
	background-color: lightgrey;
	margin: 20px;
	height: 100px;
}